backcall==0.1.0
backports-abc==0.5
beautifulsoup4==4.6.0
boto3==1.9.75
botocore==1.12.75
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
Cython==0.28.3
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.7.1
docutils==0.14
embeddings==0.0.6
ftfy==4.4.3
html5lib==1.0.1
hypothesis==2.0.0
idna==2.6
ijson==2.3
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.11.3
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
kenlm==0.0.0
kiwisolver==1.0.1
llvmlite==0.23.2
MarkupSafe==1.1.0
matplotlib==2.2.3
msgpack-numpy==0.4.1
msgpack-python==0.5.4
MulticoreTSNE==0.0.1.1
multiprocess==0.70.5
murmurhash==0.28.0
networkx==2.1
nltk==3.3
numba==0.38.1
numpy==1.14.4
pandas==0.23.4
parso==0.3.1
pathlib==1.0.1
pathlib2==2.3.2
pathos==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
plac==0.9.6
pox==0.2.3
ppft==1.6.4.7.1
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.19
pyemd==0.5.1
Pygments==2.2.0
Pympler==0.6
pyparsing==2.2.0
Pyphen==0.9.4
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytz==2018.4
pyzmq==17.1.2
regex==2017.4.5
requests==2.18.4
Rtree==0.8.3
s3transfer==0.1.13
scandir==1.7
scikit-learn==0.19.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
spacy==2.0.11
SQLAlchemy==1.2.17
termcolor==1.1.0
textacy==0.6.1
thinc==6.10.2
toolz==0.9.0
tornado==5.1
tqdm==4.23.4
traitlets==4.3.2
typing==3.6.6
ujson==1.35
Unidecode==1.0.22
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
