beautifulsoup4==4.6.0
boto==2.48.0
bz2file==0.98
cycler==0.10.0
decorator==4.1.2
dill==0.2.7.1
h5py==2.7.1
kenlm==0.0.0
krippendorff==0.2.2
matplotlib==2.1.0
multiprocess==0.70.5
networkx==2.0
nltk==3.2.5
numpy==1.13.3
pandas==0.21.1
pathlib2==2.3.0
pathos==0.2.1
pox==0.2.3
ppft==1.6.4.7.1
pydot==1.2.3
pymprog==1.0.1
pyparsing==2.2.0
pyrouge==0.1
pysapc==1.1.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tilse==0.1
